<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>_lc_a_2ND</key>
	<array>
		<string>a'</string>
		<string>agrave</string>
		<string>aacute</string>
		<string>acircumflex</string>
		<string>atilde</string>
		<string>adieresis</string>
		<string>amacron</string>
		<string>abreve</string>
		<string>aring</string>
		<string>aogonek</string>
		<string>ae</string>
	</array>
	<key>_lc_f_1ST</key>
	<array>
		<string>f'</string>
		<string>f_f</string>
		<string>f.alt</string>
	</array>
	<key>_lc_m_2ND</key>
	<array>
		<string>m'</string>
		<string>n</string>
		<string>p</string>
		<string>r</string>
		<string>u</string>
		<string>dotlessi</string>
		<string>dotlessj</string>
		<string>racute</string>
		<string>rcommaaccent</string>
		<string>eng</string>
	</array>
	<key>_lc_o_1ST</key>
	<array>
		<string>b</string>
		<string>o'</string>
		<string>p</string>
		<string>ograve</string>
		<string>oacute</string>
		<string>ocircumflex</string>
		<string>otilde</string>
		<string>odieresis</string>
		<string>omacron</string>
		<string>obreve</string>
		<string>ohungarumlaut</string>
		<string>oslash</string>
		<string>eth</string>
		<string>thorn</string>
	</array>
	<key>_lc_o_2ND</key>
	<array>
		<string>o'</string>
		<string>ograve</string>
		<string>oacute</string>
		<string>ocircumflex</string>
		<string>otilde</string>
		<string>odieresis</string>
		<string>omacron</string>
		<string>obreve</string>
		<string>ohungarumlaut</string>
		<string>oslash</string>
		<string>oe</string>
		<string>c</string>
		<string>d</string>
		<string>e</string>
		<string>g</string>
		<string>q</string>
		<string>cacute</string>
		<string>ccircumflex</string>
		<string>ccaron</string>
		<string>cdotaccent</string>
		<string>ccedilla</string>
		<string>dcaron</string>
		<string>dcroat</string>
		<string>egrave</string>
		<string>eacute</string>
		<string>ecircumflex</string>
		<string>ecaron</string>
		<string>edieresis</string>
		<string>emacron</string>
		<string>ebreve</string>
		<string>edotaccent</string>
		<string>eogonek</string>
		<string>gcircumflex</string>
		<string>gbreve</string>
		<string>gdotaccent</string>
		<string>gcommaaccent</string>
		<string>eth</string>
		<string>softhyphen.case</string>
	</array>
	<key>_lc_r_1ST</key>
	<array>
		<string>r'</string>
		<string>racute</string>
		<string>rcaron</string>
		<string>rcommaaccent</string>
	</array>
	<key>_lc_s_2ND</key>
	<array>
		<string>s'</string>
		<string>sacute</string>
		<string>scircumflex</string>
		<string>scaron</string>
		<string>scommaaccent</string>
		<string>scedilla</string>
	</array>
	<key>_lc_v_1ST</key>
	<array>
		<string>v'</string>
		<string>w</string>
		<string>y</string>
		<string>wgrave</string>
		<string>wacute</string>
		<string>wcircumflex</string>
		<string>wdieresis</string>
		<string>ygrave</string>
		<string>yacute</string>
		<string>ycircumflex</string>
		<string>ydieresis</string>
	</array>
	<key>_lc_v_2ND</key>
	<array>
		<string>v'</string>
		<string>w</string>
		<string>y</string>
	</array>
	<key>_p_baseline_1ST</key>
	<array>
		<string>quotesinglbase'</string>
		<string>quotedblbase</string>
	</array>
	<key>_p_baseline_2ND</key>
	<array>
		<string>comma'</string>
		<string>period</string>
		<string>ellipsis</string>
	</array>
	<key>_p_quote_1ST</key>
	<array>
		<string>quotesingle'</string>
		<string>quotedbl</string>
		<string>quoteleft</string>
		<string>quoteright</string>
		<string>quotedblleft</string>
		<string>quotedblright</string>
	</array>
	<key>_p_quote_2ND</key>
	<array>
		<string>quotesingle'</string>
		<string>quotedbl</string>
		<string>quoteleft</string>
		<string>quoteright</string>
		<string>quotedblleft</string>
		<string>quotedblright</string>
	</array>
	<key>_uc_A_1ST</key>
	<array>
		<string>A'</string>
		<string>Agrave</string>
		<string>Aacute</string>
		<string>Acircumflex</string>
		<string>Atilde</string>
		<string>Adieresis</string>
		<string>Amacron</string>
		<string>Abreve</string>
		<string>Aring</string>
		<string>Aogonek</string>
	</array>
	<key>_uc_A_2ND</key>
	<array>
		<string>A'</string>
		<string>Agrave</string>
		<string>Aacute</string>
		<string>Acircumflex</string>
		<string>Atilde</string>
		<string>Adieresis</string>
		<string>Amacron</string>
		<string>Abreve</string>
		<string>Aring</string>
		<string>Aogonek</string>
		<string>AE</string>
	</array>
	<key>_uc_N_1ST</key>
	<array>
		<string>N'</string>
		<string>Nacute</string>
		<string>Ntilde</string>
		<string>Ncaron</string>
		<string>Ncommaaccent</string>
	</array>
	<key>_uc_O_1ST</key>
	<array>
		<string>D</string>
		<string>O'</string>
		<string>Q</string>
		<string>Dcaron</string>
		<string>Dcroat</string>
		<string>Ograve</string>
		<string>Oacute</string>
		<string>Ocircumflex</string>
		<string>Otilde</string>
		<string>Odieresis</string>
		<string>Omacron</string>
		<string>Obreve</string>
		<string>Ohungarumlaut</string>
		<string>Oslash</string>
		<string>Eth</string>
	</array>
	<key>_uc_O_2ND</key>
	<array>
		<string>C</string>
		<string>G</string>
		<string>O'</string>
		<string>Q</string>
		<string>Cacute</string>
		<string>Ccircumflex</string>
		<string>Ccaron</string>
		<string>Cdotaccent</string>
		<string>Ccedilla</string>
		<string>Gcircumflex</string>
		<string>Gbreve</string>
		<string>Gdotaccent</string>
		<string>Gcommaaccent</string>
		<string>Ograve</string>
		<string>Oacute</string>
		<string>Ocircumflex</string>
		<string>Otilde</string>
		<string>Odieresis</string>
		<string>Omacron</string>
		<string>Obreve</string>
		<string>Ohungarumlaut</string>
		<string>Oslash</string>
		<string>OE</string>
	</array>
	<key>_uc_T_1ST</key>
	<array>
		<string>T'</string>
		<string>Tcaron</string>
		<string>Tcommaaccent</string>
		<string>Tcedilla</string>
	</array>
	<key>_uc_U_1ST</key>
	<array>
		<string>U'</string>
		<string>Ugrave</string>
		<string>Uacute</string>
		<string>Ucircumflex</string>
		<string>Utilde</string>
		<string>Udieresis</string>
		<string>Umacron</string>
		<string>Ubreve</string>
		<string>Uring</string>
		<string>Uhungarumlaut</string>
		<string>Uogonek</string>
	</array>
	<key>_uc_U_2ND</key>
	<array>
		<string>U'</string>
		<string>Ugrave</string>
		<string>Uacute</string>
		<string>Ucircumflex</string>
		<string>Utilde</string>
		<string>Udieresis</string>
		<string>Umacron</string>
		<string>Ubreve</string>
		<string>Uring</string>
		<string>Uhungarumlaut</string>
		<string>Uogonek</string>
	</array>
	<key>_uc_V_1ST</key>
	<array>
		<string>V'</string>
		<string>W</string>
		<string>Wgrave</string>
		<string>Wacute</string>
		<string>Wcircumflex</string>
		<string>Wdieresis</string>
	</array>
	<key>_uc_Y_1ST</key>
	<array>
		<string>Y'</string>
		<string>Ygrave</string>
		<string>Yacute</string>
		<string>Ycircumflex</string>
		<string>Ydieresis</string>
	</array>
</dict>
</plist>
