<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>_lc_a_2ND</key>
	<array>
		<string>a'</string>
		<string>agrave</string>
		<string>aacute</string>
		<string>acircumflex</string>
		<string>atilde</string>
		<string>adieresis</string>
		<string>amacron</string>
		<string>abreve</string>
		<string>aring</string>
		<string>aogonek</string>
		<string>ae</string>
	</array>
	<key>_lc_f_1ST</key>
	<array>
		<string>f'</string>
		<string>f_f</string>
		<string>f.alt</string>
	</array>
	<key>_lc_o_2ND</key>
	<array>
		<string>o'</string>
		<string>ograve</string>
		<string>oacute</string>
		<string>ocircumflex</string>
		<string>otilde</string>
		<string>odieresis</string>
		<string>omacron</string>
		<string>obreve</string>
		<string>ohungarumlaut</string>
		<string>oslash</string>
		<string>oe</string>
		<string>c</string>
		<string>d</string>
		<string>e</string>
		<string>g</string>
		<string>q</string>
		<string>cacute</string>
		<string>ccircumflex</string>
		<string>ccaron</string>
		<string>cdotaccent</string>
		<string>ccedilla</string>
		<string>dcaron</string>
		<string>dcroat</string>
		<string>egrave</string>
		<string>eacute</string>
		<string>ecircumflex</string>
		<string>ecaron</string>
		<string>edieresis</string>
		<string>emacron</string>
		<string>ebreve</string>
		<string>edotaccent</string>
		<string>eogonek</string>
		<string>gcircumflex</string>
		<string>gbreve</string>
		<string>gdotaccent</string>
		<string>gcommaaccent</string>
		<string>eth</string>
		<string>softhyphen.case</string>
	</array>
	<key>_lc_s_2ND</key>
	<array>
		<string>s'</string>
		<string>sacute</string>
		<string>scircumflex</string>
		<string>scaron</string>
		<string>scommaaccent</string>
		<string>scedilla</string>
	</array>
	<key>_p_baseline_1ST</key>
	<array>
		<string>quotesinglbase'</string>
		<string>quotedblbase</string>
	</array>
	<key>_p_baseline_2ND</key>
	<array>
		<string>comma'</string>
		<string>period</string>
		<string>ellipsis</string>
	</array>
	<key>_p_quote_1ST</key>
	<array>
		<string>quotesingle'</string>
		<string>quotedbl</string>
		<string>quoteleft</string>
		<string>quoteright</string>
		<string>quotedblleft</string>
		<string>quotedblright</string>
	</array>
	<key>_p_quote_2ND</key>
	<array>
		<string>quotesingle'</string>
		<string>quotedbl</string>
		<string>quoteleft</string>
		<string>quoteright</string>
		<string>quotedblleft</string>
		<string>quotedblright</string>
	</array>
	<key>_uc_A_2ND</key>
	<array>
		<string>A'</string>
		<string>Agrave</string>
		<string>Aacute</string>
		<string>Acircumflex</string>
		<string>Atilde</string>
		<string>Adieresis</string>
		<string>Amacron</string>
		<string>Abreve</string>
		<string>Aring</string>
		<string>Aogonek</string>
		<string>AE</string>
	</array>
	<key>_uc_T_1ST</key>
	<array>
		<string>T'</string>
		<string>Tcaron</string>
		<string>Tcommaaccent</string>
		<string>Tcedilla</string>
	</array>
	<key>_uc_V_1ST</key>
	<array>
		<string>V'</string>
		<string>W</string>
		<string>Wgrave</string>
		<string>Wacute</string>
		<string>Wcircumflex</string>
		<string>Wdieresis</string>
	</array>
	<key>_uc_Y_1ST</key>
	<array>
		<string>Y'</string>
		<string>Ygrave</string>
		<string>Yacute</string>
		<string>Ycircumflex</string>
		<string>Ydieresis</string>
	</array>
</dict>
</plist>
