<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>F</key>
	<dict>
		<key>A</key>
		<integer>-60</integer>
		<key>a</key>
		<integer>-60</integer>
		<key>ampersand</key>
		<integer>-60</integer>
		<key>comma</key>
		<integer>-120</integer>
		<key>o</key>
		<integer>-60</integer>
		<key>s</key>
		<integer>-60</integer>
		<key>x</key>
		<integer>-60</integer>
	</dict>
	<key>L</key>
	<dict>
		<key>T</key>
		<integer>-60</integer>
		<key>V</key>
		<integer>-60</integer>
		<key>W</key>
		<integer>-60</integer>
		<key>Y</key>
		<integer>-60</integer>
	</dict>
	<key>P</key>
	<dict>
		<key>A</key>
		<integer>-60</integer>
		<key>comma</key>
		<integer>-60</integer>
	</dict>
	<key>T</key>
	<dict>
		<key>comma</key>
		<integer>-60</integer>
		<key>o</key>
		<integer>-60</integer>
	</dict>
	<key>V</key>
	<dict>
		<key>comma</key>
		<integer>-60</integer>
		<key>ibreve</key>
		<integer>60</integer>
		<key>icircumflex</key>
		<integer>60</integer>
		<key>idieresis</key>
		<integer>60</integer>
		<key>imacron</key>
		<integer>60</integer>
		<key>itilde</key>
		<integer>60</integer>
		<key>jcircumflex</key>
		<integer>60</integer>
		<key>onesuperior</key>
		<integer>60</integer>
		<key>question</key>
		<integer>60</integer>
		<key>threesuperior</key>
		<integer>60</integer>
		<key>twosuperior</key>
		<integer>60</integer>
	</dict>
	<key>X</key>
	<dict>
		<key>o</key>
		<integer>-60</integer>
		<key>s</key>
		<integer>-60</integer>
		<key>v</key>
		<integer>-60</integer>
		<key>w</key>
		<integer>-60</integer>
		<key>y</key>
		<integer>-60</integer>
	</dict>
	<key>Y</key>
	<dict>
		<key>a</key>
		<integer>-60</integer>
		<key>abreve</key>
		<integer>0</integer>
		<key>acircumflex</key>
		<integer>0</integer>
		<key>adieresis</key>
		<integer>0</integer>
		<key>agrave</key>
		<integer>0</integer>
		<key>amacron</key>
		<integer>0</integer>
		<key>aring</key>
		<integer>0</integer>
		<key>atilde</key>
		<integer>0</integer>
		<key>comma</key>
		<integer>-60</integer>
		<key>ibreve</key>
		<integer>60</integer>
		<key>icircumflex</key>
		<integer>60</integer>
		<key>idieresis</key>
		<integer>60</integer>
		<key>igrave</key>
		<integer>60</integer>
		<key>imacron</key>
		<integer>60</integer>
		<key>itilde</key>
		<integer>60</integer>
		<key>jcircumflex</key>
		<integer>60</integer>
		<key>o</key>
		<integer>-60</integer>
		<key>onesuperior</key>
		<integer>60</integer>
		<key>question</key>
		<integer>60</integer>
		<key>s</key>
		<integer>-60</integer>
		<key>threesuperior</key>
		<integer>60</integer>
		<key>twosuperior</key>
		<integer>60</integer>
	</dict>
	<key>comma</key>
	<dict>
		<key>onesuperior</key>
		<integer>-60</integer>
		<key>quotesingle</key>
		<integer>-120</integer>
		<key>threesuperior</key>
		<integer>-60</integer>
		<key>twosuperior</key>
		<integer>-60</integer>
		<key>uni2070</key>
		<integer>-60</integer>
		<key>uni2074</key>
		<integer>-120</integer>
	</dict>
	<key>f</key>
	<dict>
		<key>asterisk</key>
		<integer>120</integer>
		<key>exclam</key>
		<integer>60</integer>
		<key>onesuperior</key>
		<integer>120</integer>
		<key>question</key>
		<integer>120</integer>
		<key>quotesingle</key>
		<integer>120</integer>
		<key>threesuperior</key>
		<integer>120</integer>
		<key>twosuperior</key>
		<integer>120</integer>
		<key>uni2070</key>
		<integer>60</integer>
		<key>uni2074</key>
		<integer>60</integer>
	</dict>
	<key>f.alt</key>
	<dict>
		<key>asterisk</key>
		<integer>60</integer>
		<key>onesuperior</key>
		<integer>60</integer>
		<key>quotesingle</key>
		<integer>60</integer>
		<key>threesuperior</key>
		<integer>60</integer>
		<key>twosuperior</key>
		<integer>60</integer>
	</dict>
	<key>period</key>
	<dict>
		<key>onesuperior</key>
		<integer>-60</integer>
		<key>quotedblleft</key>
		<integer>-120</integer>
		<key>quotedblright</key>
		<integer>-120</integer>
		<key>quoteleft</key>
		<integer>-120</integer>
		<key>quoteright</key>
		<integer>-120</integer>
		<key>quotesingle</key>
		<integer>-120</integer>
		<key>threesuperior</key>
		<integer>-60</integer>
		<key>twosuperior</key>
		<integer>-60</integer>
		<key>uni2070</key>
		<integer>-60</integer>
		<key>uni2074</key>
		<integer>-120</integer>
	</dict>
	<key>questiondown.case</key>
	<dict>
		<key>A</key>
		<integer>60</integer>
	</dict>
</dict>
</plist>
